.header {
  padding: 9.6rem 0 3.2rem;
  max-width: 90%;
  margin: auto;
}
.header-content {
  text-align: center;
  margin-bottom: 7.2rem;
}
.title {
  font-family: "Poppins", sans-serif;
  font-weight: var(--font-wt-bold);
  font-size: 3.6rem;
  margin-bottom: 3.2rem;
  line-height: 1.2;
  text-transform: capitalize;
}
.header-content__text {
  font-size: 1.8rem;
  width: 40%;
  margin: auto;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}
.btn-cta {
  font-weight: var(--font-wt-semi-bold);
  font-family: inherit;
  background-color: var(--pink);
  color: var(--very-pale-blue);
  border: none;
}
.header-image {
  text-align: center;
}
.header-image img {
  width: 100%;
}
@media screen and (max-width: 700px) {
  .header-content__title {
    font-size: 3rem;
  }
  .header-content__text {
    font-size: 1.4rem;
    width: 90%;
  }
}
