.contact-container {
  width: 40%;
}
.contact-logo {
  filter: brightness(0) invert(1);
  margin-bottom: 2.4rem;
  width: 50%;
}
.contact-content {
  margin-bottom: 2.4rem;
}
.contact-text,
.contact-info {
  margin-bottom: 1.2rem;
}
.contact-info {
  margin-left: 0.4rem;
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.contact-info a {
  color: inherit;
  text-decoration: none;
}
.social-nav {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .contact-container {
    width: unset;
  }
}
@media screen and (max-width: 800px) {
  .contact-container {
    width: 100%;
  }
  .contact-logo {
    width: 50%;
  }
}
