.footer {
  background-color: var(--very-dark-cyan);
  padding: 6.4rem 0;
  position: relative;
}
.footer::before {
  content: "";
  background-image: url("../../images/bg-footer-top-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  min-height: 16rem;
  width: 100%;
  position: absolute;
  bottom: 99%;
}
.footer-contents {
  width: 80%;
  margin: auto;
  color: var(--very-pale-blue);
  line-height: 1.5;
  font-size: 1.2rem;
  display: flex;
}
@media screen and (max-width: 800px) {
  .footer::before {
    background-image: url("../../images/bg-footer-top-mobile.svg");
  }
  .footer-contents {
    flex-direction: column;
    gap: 5.2rem;
  }
}
