.newsletter-section {
  order: 1;
}
.newsletter__title {
  text-transform: uppercase;
  font-weight: var(--font-wt-semi-bold);
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}
.newsletter__content {
  margin-bottom: 2.4rem;
}
.newsletter__form {
  display: flex;
  gap: 2.4rem;
  position: relative;
}
.newsletter__input {
  border: none;
  padding: 0.8rem;
  border-radius: 0.7rem;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
  width: 50%;
}
.error.newsletter__form::after {
  content: "Check your email please";
  position: absolute;
  top: 110%;
  color: var(--light-red);
}
.error .newsletter__input {
  border: 1px solid var(--light-red);
}

.newsletter__btn {
  font-size: 1.4rem;
  border-radius: 0.7rem;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
  width: 40%;
  box-shadow: unset;
}

@media screen and (max-width: 800px) {
  .newsletter-section {
    order: 0;
  }
  .newsletter__form {
    flex-direction: column;
    gap: 1.2rem;
  }
  .newsletter__input {
    width: 100%;
  }
  .newsletter__btn {
    padding: 0.8rem 1.2rem;
    align-self: end;
  }
}
