.top-nav {
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6.4rem 0 3.2rem;
}

.btn {
  padding: 1.2rem 3.6rem;
  font-size: 1.8rem;
  border-radius: 2.4rem;
  -webkit-border-radius: 2.4rem;
  -moz-border-radius: 2.4rem;
  -ms-border-radius: 2.4rem;
  -o-border-radius: 2.4rem;
}
.btn-cta__top {
  background-color: transparent;
  color: var(--pink);
  border: 1px solid var(--pink);
}
@media screen and (max-width: 800px) {
  .btn-cta__top {
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
  }
}
